@tailwind base;
@tailwind components;
@tailwind utilities;

.tag {
    @apply text-sm h-fit px-2 py-[2px] whitespace-nowrap rounded-full border border-gray-400;
 }

.filterShadow {
    box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.52);
}
.jobWidth {
    width: calc(50% - 5px);
}
@media (max-width: 1279px) {
    .jobWidth {
        width: 100%;
    }
}